body {
    margin: 0;
    padding: 0;
}

.profile-section {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    padding: 5px;
}

.profile-details {
    background-color: rgba(238, 130, 238, 0.527);
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.current-flights {
    background-color: rgba(0, 128, 0, 0.529);
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flight-list {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.searching {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: 30%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.418);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:rgba(128, 128, 128, 0.434);
}



.searchof {
    background-color: rgba(172, 255, 47, 0.515);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



button {
    padding-inline: 20px;
    margin-top: 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
